body {
    font-family: poppins;
    padding: 0;
    margin: 0;
}
.header-section {
    background-image: url(images/top-banner\ \(1\).png);
    background-repeat: no-repeat;
}
.half-width {
    width: 50%;
    padding: 0 5%;
}
.right-content {
    width: 100%;
}
.flaxible-container {
    display: flex;
}
.left-content h1 {
    font-size: 3em;
}
.left-content span {
    color: #FFA500;
}
.left-content a {
    background-image: linear-gradient(orange, tomato);
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 5px 30px;
    border-radius: 5px;
}
/* Dream Section */
.dream-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: center right;
}
.reverse {
    flex-direction: row-reverse;
}
/* Experince Section */
.experiance-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: center left;
}
#full-stack {
    border-left: 4px solid;
    border-image: linear-gradient(yellow, black);
    border-image-slice: 1;
}
#baby {
    border-left: 5px solid;
    border-image: linear-gradient(red, blue);
    border-image-slice: 1;
}
.item {
    margin: 0 5%;
    box-shadow: 15px 15px 30px lightgray;
    background-color: white;
    padding: 2%;
}
.item h4 {
    color: #FFA500;
}
/* Footer section */
.footer-section {
    padding: 70px 0 20px 0;
} 
.footer-section p {
    text-align: center;
}
